/* Global */
:root {
    /* app Colors */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);
    /* colors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;

    /* size */
    --size-max-width: 1200px
}

* {
    box-sizing:  border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-family: 'Open Sans', sans-serif;
    margin: 0; 
}
body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-family: 'Open Sans', sans-serif;
    margin: 0; 
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}
strong {
    color: var(--color-accent);
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px transparent;
}
/* card rotation */

/* modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
   
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%; /* 모달의 최대 너비 설정 */
    max-height: 90%; /* 모달의 최대 높이 설정 */
    background-color: #fff;
}

img#modalImage {
    width: 100%; /* 이미지의 너비를 모달의 너비에 맞춤 */
    height: auto; /* 이미지의 높이를 원본 비율에 맞게 조절 */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.close {
    display: flex;
    justify-content: end;
    font-size: 70px;
    margin-right: 1rem;
    border-radius: 10px;
    cursor: pointer;
}


/* SideNav */
.sidenav {
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 400px;
    width: 75px;
    opacity: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 1rem;
    padding: 5px;
    margin: 0.2rem;
    border-radius: 4%;
    padding: 1rem 0.5rem;
    background-color: transparent;
    /* overflow-x: hidden; */
    transition: 5s;
    margin-top: 0;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.sidenav a {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    margin: 5px ;
    border-radius: 5px;
    background-color: transparent;
    padding: 0px;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.sidenav a:hover {
    width: 100%;
    background-color: var(--color-primary);
    /* color: white; */
    /* border-bottom: 1px solid var(--color-accent) ; */
}

/* 사이드바 툴팁 */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    /* visibility: hidden; */
    display: flex;
    justify-content: flex-end;
    /* text-align: right; */
    width: 120px;
    font-size: 20px;
    margin-right: 2rem;
    background-color: transparent;
    color: rgb(3, 31, 42);
    border-radius: 6px;
    position: absolute;
    z-index: 200; /* 툴팁이 다른 요소들 위에 나타나도록 z-index를 높게 설정하세요. */
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*common */

.section {
    padding: 4rem;
    text-align: center;
    /* margin: auto; */
}
.max-container {
    max-width: var(--size-max-width);
    margin: auto;

}
.title {
    font-size: 2.5rem;
    margin: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

}
.description {
    font-size: 1.5rem;
    margin: 1rem,5rem 0;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
}
.fade {
    opacity: 1;
    transition: opacity 4s;
}

/* header */
.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    transition: all 300ms ease;
}
/* .header_color_changed {
    background-color: var(--color-primary);
} */

.header--dark {
    background-color: var(--color-primary);
    .header_menu_item {
        color: var(--color-text);
        font-weight: bold;
        
    }
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}


.header_logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header_logo_img {
    width: 55px;
    height: 55px;
    border-radius: 20%;
    background-color: var(--color-black);
    filter: brightness(1.5);
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
}

.header_logo_icons {
    display: none;
    align-items: center; /* 아이콘과 로고를 수직 정렬 */
    margin-left: 20px; /* 아이콘과 로고 사이의 간격 조절 */
}


.header_logo_title a {
    font-size: 1.2rem;
    color: coral;
}

.smaller-icon {
    font-size: 50%; /* 아이콘의 사이즈를 50% 작게 합니다 */
}

.header_menu {
    display: flex;
    gap: 0px;
}

.header_menu_item {
    display: block;
    padding: 8px 16px;
    color: var(--color-accent);
}

.header_menu_toggle {
    display: none;
    color: var(--color-white);
    font-size: 1.5rem;
    position: absolute;
    top: 1.5rem;
    right: 1rem;

}

.header_menu_item:hover {
    border-bottom: 1px solid var(--color-accent);
    /* box-shadow: 0 20px 60px rgba(240, 46, 170, 0.7); */
}

.header_menu_item.active {
    color: var(--color-accent); 
    border: 1px dotted var(--color-accent);
}


.header_menu_item.active:hover {
    border: 1px dotted var(--color-accent);
}

#home {
    position: relative;
    background-color: rgb(1, 1, 2);
    color: var(--color-text);
    padding: 0.1rem 0%;
    margin: 0rem 0rem;
    text-align: center;
    height: 350px;
    overflow: visible;
}


@keyframes shrinkHeight {
    from {
        height: 400px;
    }
    to {
        height: 90px;  
    }
}

#home.shrink {
    animation: shrinkHeight 3s forwards;
}


#title_video {
    position: absolute;
    object-fit: cover;
    padding: 0 0;
    padding: 2px 0px;
    left: 1px;
    top: 1px;
    width: 100%; 
    height: 80vh; 
    overflow: hidden;
    margin-bottom: -1rem;
    z-index: 1;  
    border-radius: 2%;
    opacity: 1;
}
@keyframes shrinkHeight {
    from {
        height: 80vh;
    }
    to {
        height: 8vh;  
    }
}

#title_video.shrink {
    animation: shrinkHeight 4s forwards;
    transition: opacity 5s ease-out;

}





.home_container {
    position: relative; 
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 1rem;  
    height: auto;           
    z-index: 1;       
    text-align: center; 
}

.home_avatar {
    display: none;
    /* position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    left: 50%;
    top: 49%;
    transform: translate(-50%, -49%);
    width: 310px;
    height: 310px;
    object-fit: cover;
    border-radius: 50%; */
}

/* .home_avatar.active {
    width: 1px;
    height: 1px;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    border: 40px double slategray;
    opacity: 0.4;
    transition: border 2s ease-in, 
                opacity 2s ease-out, 
                transform 2s ease-out; 
} */

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shake {
    0% {transform: translate(-50px, -50px);}
    50% {transform: translate(25px, 50px);}
    100% {transform: translate(0px, 0px);}
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}


.circle-container {
    width: 310px;
    height: 310px;
    margin-top: 5rem;
}

.circle {
    fill: steelblue;
    fill-opacity: 0.3;
    stroke: goldenrod;
    stroke-width: 30;
    opacity: 1;
    stroke-dasharray: 785; 
    stroke-dashoffset: 785;
    animation: draw 5s forwards, fade 5s forwards 6s;
}

.crosshair1 {
    stroke: whitesmoke;
    stroke-width: 4;
    stroke-dasharray: 6;
    opacity: 0;
    animation: 
        fade-in 4s forwards 3s, 
        shake 3s ease-out 5s, 
        fade 2s forwards 7s;
}
.crosshair2 {
    stroke: whitesmoke;
    stroke-width: 4;
    stroke-dasharray: 6;
    opacity: 0;
    animation: 
        fade-in 4s forwards 3s, 
        shake 3s ease-out 5s, 
        fade 2s forwards 7s;
}

.small-circle {
    fill: none;
    stroke: slategrey;
    stroke-width: 0.5;
    opacity: 0;
    animation: 
        fade-in 2s forwards 6s, 
        fade 4s forwards 5s;
}

.fadeIn {
    opacity: 1 !important;
}

.home_title, .home_title--strong, .home_description{
    opacity: 0;
    transition: opacity 7s ease-out; 
}

.home_title {
    margin-top: 100px;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.home_title--strong {
    color: var(--color-accent);
    margin: 1rem;
}
.home_description {
    font-size: 1.3rem;
}

/* .home_contact {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    opacity: 0; 
    transition: opacity 7s ease-out; 
    transition-delay: 5s;
    border-radius: 30px;
    background-color:transparent;
    font-size: 40px; 
    color: red;
    border: 0.0001px solid transparent;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 50px;
    z-index: 100;
} 
.home_contact:hover {
    background-color: var(--color-primary);
    color: goldenrod;
    scale: 1.1;
    cursor: pointer;
    box-shadow: rgba(11, 1, 1, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(204, 176, 176, 0.08) 0px 1px 0px inset;
}

.home_contact:hover::after {
    content: attr(data-tooltip); 
    position: absolute;
    bottom: 65%;
    left: 50%;
    transform: translateX(-50%); 
    background-color: transparent;
    color: #fff;
    padding: 8px 15px; 
    border-radius: 4px;
    margin-bottom: 10px;
    white-space: nowrap; 
    text-align: center; 
    font-size: 12px; 
    color: skyblue;
}

.home_contact:hover::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333; 
} */

/* about */
#about {
    position: relative;
}
.custom-shape-divider-top-1697041363 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1697041363 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 70px;
}

.custom-shape-divider-top-1697041363 .shape-fill {
    fill: #FFFFFF;
}

.majors {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;
}

.major {
    flex: 1;
    justify-content: space-between;
    background-color: var(--color-primary-variant);
    padding: 2rem 1rem;
    color: var(--color-text);
    border-radius: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    overflow: auto;
    transition: all 300ms ease;
    cursor: default;
    box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
}

.major_icon {
    font-size:  4rem;
    margin: 1rem 0;
    color: goldenrod;
    transition: color 150ms ease-out, transform 850ms ease-in-out;
}

.major_title {
    font-size:  1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.major:hover .major_icon {
    transform: rotate(-10deg) scale(1.2);
    color: var(--color-accent-variant);
}

.jobs {
    text-align: start;
}
.job {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1rem;
}

.job_name {
    color: var(--color-primary);
}
.job_period {
    color: var(--color-primary);
    font-size: 0.8rem;
}

/* skills */
#skills {
    background-color: var(--color-primary-variant);
        filter: brightness(125%);
    color: var(--color-text);
}

.skills {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr 1.5fr;
    margin: 2rem 2rem;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0px 4px 16px rgba(17,17,26,0.1), 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 56px rgba(17,17,26,0.1);
}

.skills_title {
    color: var(--color-accent);
    margin: 1rem 0;
    font-size: 1.2rem;
}

.skills_coding {
    grid-row: span 2;
    padding: 1rem;
}

.skills_tools {
    padding: 1rem;
}

.skills_etc .skills_title,
.skills_etc ul {
    display: none;
}


.skills_etc {
    margin: 2rem;
    padding: 1rem;
    background-image: url('/tax/images/taxcoin.png'); 
    background-size: cover;
    border-radius: 10%;
    background-position: center center;
    background-repeat: no-repeat;
    filter: inherit;
}

/* bar */

.bar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.2rem;
}

.bar_metadata {
    display: flex;
    justify-content: space-between;
}

.bar_bg {
    width: 100%;
    height: 3px;
    background-color: rgb(19, 35, 35);
}

.bar_value {
    background-color: var(--color-accent-variant);
    height: 3px;
    width: 0;
    /* transition: width 5s cubic-bezier(0.25, 0.1, 0.25, 1) */
}

/* Works */
#work {
    background-color: var(--color-primary);
    color: var(--color-text);
}

.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1rem; 
    justify-content: center;
    margin: 3rem;
}


.category {
    position: relative;
    min-width: 190px;
    color: var(--color-text);
    font-size: 1.1rem;
    padding: 0.5rem 3rem;
    border-radius: 4px;
    border: 1px solid rgb(163, 166, 168);
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 5px 5px rgba(0, 98, 90, 0.4), 10px 10px rgba(0, 98, 90, 0.3), 15px 15px rgba(0, 98, 90, 0.2), 20px 20px rgba(0, 98, 90, 0.1), 25px 25px rgba(0, 98, 90, 0.05);
}

.category-selected {
    background-color: var(--color-accent);  
    color: var(--color-primary);      
}

.category_count {
    opacity: 0;
    position: absolute;
    top: -20px;
    right: 16px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    background-color: var(--color-accent-variant);
    color: var(--color-text);
    transition: all 200ms ease-in;
}
.category-selected .category_count,
.category:hover .category_count {
    opacity: 1;
    top: 0;
}

/* work */
#work {
    position: relative;
}

.custom-shape-divider-bottom-1697041450 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1697041450 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 70px;
}

.custom-shape-divider-bottom-1697041450 .shape-fill {
    fill: #FFFFFF;
}
/* projects */

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-height: 500px;
    min-width: auto;
    gap: 1rem;
    transition:  all 100ms ease-out;
}
.projects.anim-out {
    opacity: 0;
    transform:  scale(0.90) translateY(15px);
}
.project {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.project_img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: top;
}
.project_metadata {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    transition: all 250ms ease-in-out;
    transform: translateY(-20px);
    /* pointer-events: none; */
}
.project_metadata:hover {
    opacity: 0.8;
    transform: translateY(0px);
   
}

.project_title_bar {
    margin: 0.5rem 0;
    width: 50px;
    height: 2px;
    background-color: greenyellow;
}
 


/* testimonial */

#Testimonial {
    box-shadow: rgba(13, 38, 76, 0.19) 0px 9px 20px;
}
.testimonials {
    margin:  3rem;
}

.testimonial:nth-child(even) .testimonial_img {
    order: 1;
}

.testimonial {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    
}
.testimonial_img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: rgba(34, 33, 33, 0.4) 0px 30px 90px;
}

.testimonial_bubble {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
}

.testimonial_bubble_name {
    color: var(--color-accent-variant);
    font-weight: bold;
    filter: brightness(40px);
}

/* allow up */
.arrow_up {
    background-color: slategrey;
    position: fixed;
    bottom: 15%;
    right: 3rem;
    font-size: 3rem;
    z-index: 1;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    text-align: center;
    transition: all 1000ms ease-in;
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
}


/* footer */

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* opacity: 0.1; */
    background: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
        url('/tax/images/footerbackimg.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: rgba(245, 245, 245, 0.627);
    opacity: 1;

    overflow: hidden;
    padding: 1rem;
    width: auto;
    align-items: center;
    justify-content: center;
    transition: height 1000ms;
}

/* #contact:hover {
    opacity: 0.2;
    background-color: rgb(7, 58, 7);
} */

.contact_links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    font-size: 2rem;
}

.contact_link {
    display: flex;
    padding: 1rem;
    margin: 0rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: transparent;
    font-size: 35px; 
    color: slategrey;
    border: 2px solid slategray;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    height: 45px;
    width: 45px;
    transition: color 200ms ease;
    overflow: hidden;
}

.contact_link:hover {
    color: var(--color-accent);
    border: 2px solid lightgrey;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 5px;
    scale: 1.1;
}


@keyframes fadeOutVideo {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {

    .section {
        padding: 3rem 2rem;
    }
    .title {
        font-size: 1.2rem;
    }
    .description {
        font-size: 1rem;
    }

    .header {
        flex-direction: column;
        align-items: start;
    }
    .header--dark {
        background-color: var(--color-primary);
        .header_menu_item {
            color: var(--color-text);
        }
        opacity: 1;
        box-shadow: rgba(119, 5, 5, 0.2) 0px 60px 40px -7px;
    }

    .header_logo_img {
        width: 40px;
        height: 40px;
        border-radius: 20%;
        background-color: var(--color-white);
        filter: contrast(1.7); 
        box-shadow: 0 20px 50px rgba(46, 51, 55, 0.7);
    }

    .header_logo_title a {
        display: inline-block;
        font-size: 1.4rem;
        color: coral;
        filter: contrast(1.5); 
    }

    /* .header_logo_icons {
        margin-top: 3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 5px;
        border: 1px solid transparent;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    } */


/* 
    #about > div > ul {
        height: 70px;
    }
    #about > div > ul > li:nth-child(3) > a > i {
        color: coral;
    }
    #about > div > ul > li:nth-child(3) > a > i:hover {
        scale: 1.1;

    }
    #about > div > ul > li:nth-child(2) > a > i:hover {
        scale: 1.1;

    }
    #about > div > ul > li:nth-child(1) > a > i:hover {
        scale: 1.1;

    }
     */
    
    .header_menu {
        display: none;
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
        margin: 0.5rem 4rem;
    }
    .header_menu_item {
        color: var(--color-white);
        background-color: transparent;
    }
    .header_menu_item:hover {
        border: 1px solid var(--color-accent);
        opacity: 1;
        box-shadow: 0 20px 50px rgba(179, 195, 206, 0.7);
    }
    .header_menu.open {
        display: flex;
        /* background-color: transparent; */
    }
    .header_nav {
        width: 100%;
        border-radius: 5px;
        background-color: var(--color-primary);
        opacity: 0.5;
        /* background-color: transparent; */
    }
    .header_menu_toggle {
        display: block;
        color: steelblue;
    }
    
    body > header > nav > ul > li:nth-child(1) > a {
        display: none;
    }
    

    #home {
        display: none;

        position: relative;
        background-color: rgb(1, 1, 2);
        color: var(--color-text);
        padding: 0rem 0%;
        margin: 0rem 0rem;
        /* padding-top: 7rem; */
        text-align: center;
        height: auto;
        /* transition: height 1s ease; */
        /* overflow: hidden; */
    }

    #title_video {
        display: none;
        position: absolute;
        object-fit: cover;
        padding: 0 0;
        /* left: 50%;
        top: 50%; */
        /* right: 15%; */
        /* bottom: -4%; */
        width: 768; 
        height: 90px; 
        overflow: hidden;
        margin-bottom: -1rem;
        z-index: -1;  
        border-radius: 5%;
        overflow: hidden;

    }
    
    .home_container {
        display: none;
        position: relative; 
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0rem;  
        height: 250px;           
        z-index: 1;       
        text-align: center; 
    }

    /* .home_avatar {
        display: none;
        background-color: transparent;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.2rem;
        margin-bottom: 1rem;
        left: 50%;           
        top: 50%;            
        transform: translate(-50%, -50%);
        width: 250px;
        height: 250px;
        object-fit: cover;
        opacity: 0.6;
        transition: opacity 5s;
        scale: 0.99;
        border-radius: 50%;
        border: 145px double slategrey;
        transition: 500ms cubic-bezier(0,0,.99,.99);
        z-index: 1;  
    } */
    /* .home_avatar.active {
        display: none;
        border: 140px double rgb(112, 144, 126);
        opacity: 0.4;
        transition: border 7s ease, opacity 7s ease-out;
        scale: 1;
    }
     */
    .home_title, .home_title--strong, .home_description, .home_contact {
        display: none;
        display: block;
        opacity: 0; /* 기본적으로 투명 */
        transition: opacity 7s; /* 2.5초 동안 서서히 보여지도록 설정 */
        z-index: 2;
    }
    
    .home_title {
        
        margin-top: 100px;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .home_title--strong {
        color: var(--color-accent);
        font-size: 1.1rem;
    }

    .home_description {
        font-size: 1rem;
    }
    /* .home_contact {
        display: inline-block;
        color: var(--color-accent-variant);
        padding: 0.5rem 1rem;
        margin: 1.2rem;
    } */
    /* .home_contact:hover {
        display: inline-block;
        background-color: var(--color-accent-variant);
        color: var(--color-text);
    } */


    #about {
        margin-top: 50px;
    }

    .majors {
        flex-direction: column;
        align-items: center;
    }
    .major {
        max-width: auto;
        min-width: 350px;
        /* margin: -1rem; */
    }

    .job {
        justify-content: center;
    }

    .skills {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.5fr;
        justify-content: center;
        align-items: center;
        max-width: auto;
        margin: 2rem 0.1rem;
    } 
    .skills_coding {
        padding: 0;
        grid-row: 1;
        grid-column: 1 / -1;
    }
    .skills_tools {
        padding: 0;
        grid-row: 2;
        grid-column: 1;
    }
    .skills_etc {
        padding: 5rem;
        margin: 1rem;
        grid-row: 2;
        grid-column: 2;
        background-image: url('/tax/images/taxcoin2.png'); 
        background-size: cover;
        border-radius: 5%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    /* .bar_value {
        transition: width 10s cubic-bezier(0.25, 0.1, 0.25, 1)
    } */

    .categories {
        /* display: grid; */
        grid-template-columns: repeat(2, 1fr); 
    }

    .category {
        width: 90%;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    .project_img {
        height: 250px;
    }
    .testimonials {
        margin:  3rem, 0rem;
    }

    .testimonial {
        flex-direction: column;
    }

    .testimonial_bubble {
        padding: 1rem;
        min-width: 350px;
    }

    .testimonial_img {
        border-radius: 10%;
    }
    .testimonial:nth-child(even) .testimonial_img {
        order: 0;
    }

    .arrow_up {
        height: 2rem;
        width: 2rem;
        bottom: 3.5rem;
        right: 0.5rem;
        font-size: 1.5rem;
        border-radius: 100%;
        text-align: center;
        box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
    }

    .contact_links {
        padding: px;
        display: flex;
        justify-content: center;
        gap: 0rem;
        font-size: 1rem;
    }
    .contact_link {
        display: flex;
        padding: 1rem;
        margin: 0rem 1rem;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background-color: transparent;
        font-size: 35px; 
        color: slategrey;
        border: 2px solid slategray;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
        height: 45px;
        width: 45px;
        transition: color 200ms ease;
        overflow: hidden;
    }
    

    #contact {
        font-size: 50%;
    }

    .sidenav {
        display: flex;
        text-align: start;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        scale: 0.8;
        width: 55px;
        opacity: 0.5;
        /* border: 1px solid transparent; */
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        margin: 2rem 0rem;
        border-radius: 4%;
        padding: 2rem 0rem;
        background-color: transparent;
        /* overflow-x: hidden; */
        transition: 5s;
        margin-top: 0;
        white-space: nowrap;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

}

/* 
.contact_links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    font-size: 2rem;
}

.contact_link {
    display: flex;
    padding: 1rem;
    margin: 0rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: transparent;
    font-size: 35px; 
    color: slategrey;
    border: 2px solid slategray;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    height: 45px;
    width: 45px;
    transition: color 200ms ease;
    overflow: hidden;
}

.contact_link:hover {
    color: var(--color-accent);
    border: 2px solid lightgrey;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 5px;
    scale: 1.1;
} */